[submodule "Si5351Arduino"]
	path = Si5351Arduino
	url = https://github.com/coburnw/Si5351Arduino.git
[submodule "userspace-i2c"]
	path = userspace-i2c
	url = https://github.com/coburnw/userspace-I2C.git
